/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(231, 231, 231);
}

.full-width {
    width: 100%;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    padding: 20px;
    width: 60%;
    margin: auto;
    display: block;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}