<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <h1>Submit Feedback</h1>

        <div >
        
            <mat-card class="example-card">
                <mat-card-content>

                    <div class="form-container">
                    <form  [formGroup]="feedbackRequestForm" (ngSubmit)="onSubmit()">

                        <!---
                        <mat-card-title>Feedback request for {{ feedback_request.id }} {{ feedback_request.reviewee.last_name }}'s {{ feedback_request.review.name }} Performance Review</mat-card-title>
                        <mat-card-subtitle>Due date: {{ feedback_request.review.due_date }} | Requested by: ....</mat-card-subtitle>
                        <p>
                        {{ feedback_request.review.description }}
                        </p>

                        -->

                        <p>Please provide your feedback and rating</p>
    
                        <mat-form-field class="full-width">
                            <mat-label>General comment/feedback</mat-label>
                            <textarea matInput formControlName="feedback"></textarea>
                        </mat-form-field>
                        
                        <mat-radio-group aria-label="example-radio-group-label" formControlName="rating">
                            <mat-radio-button value="1">1</mat-radio-button>
                            <mat-radio-button value="2">2</mat-radio-button>
                            <mat-radio-button value="3">3</mat-radio-button>
                            <mat-radio-button value="4">4</mat-radio-button>
                            <mat-radio-button value="5">5</mat-radio-button>
                        </mat-radio-group>

                        <br><br>
                        <button mat-raised-button color="primary" type="submit">Submit</button>
                        <button mat-button [routerLink]="['/feedback-requests']">Cancel</button>
                    </form></div>

                </mat-card-content>
                
                
            </mat-card>
            <br><br>

        </div>
        

    </div>
</div>